html{
	font-family: "Arial";
	text-align: justify;
	color: white;
	font-size: 20px;
}

h1{
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	text-shadow:#FC0 1px 0 10px;
}

h2{
	font-size: 1.5rem;
	text-align: center
}

#audio{
	margin-left: 75px;
}

#subtitulo{
	font-size: 1.15rem;
	width: 100%;
	text-align: justify;
}

.parrafo{
	width: 100%;
	text-align: justify;
	text-indent: 1.5rem;
	line-height: 1.5rem;
}

a:visited{
	color: yellowgreen;
}

a:link{
	color: yellow;
}

.columna1{
	position: relative;
  	box-sizing:border-box;
  	padding: 15px;
  	line-height:1.5rem;
  	height:100%;
  	width: 75%;

  	background-image: url(logo);
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: scroll;
}

article{
  	position: absolute;
  	top: 0;
  	right: 0;

  	background-image: url(Cohes.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}